html {
    scroll-behavior: smooth;
}

body {
    font-family: "Baskerville Old Face", serif;
    margin: 0;
    background-color: #020032;
    overflow-x: hidden;
}
.scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    border: 0px;
    display: none;
    background: url(scrollTop.png);
}
.header {
    padding: 0;
    margin-top: 50px;
    text-align: center;
    background-color: #444448;
    color: white;
}
.header h1 {
    font-size: 50px;
    padding: 70px;
    margin: 0px;
}
.header2 {
    padding: 0;
    margin-top: 5px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: #444448;
    color: white;
}
.navbarList {
    /* display: block; */
    box-sizing: border-box;
    overflow: hidden;
    background-color: #020032;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;;
    box-shadow: 0px 5px 10px black;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    float: right;
}

.onNavbar {
    background-color: #020032;
    border: none;
    font-size: 17px;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.navDropdown {
    width: 110px;
    float: right;
}
.dropdownButton {
    width: 110px;
    height: 47px;
    padding: 0px;
    background: url("dropdown.png");
}
.onNavbar:hover {
    color: #da97ff;
}
.onNavbar:focus {
    outline: none;
}
.dropdownButton {
    display: none;
}
footer {
    text-align: center;
}
.dropdownContent {
    display: none;
    position: fixed;
}
.dropdownContent button{
    display: block;
}
.dropdown:hover .dropdownContent {
    display: block;
}
@media screen and (max-width: 570px) {
    .dropdownButton {
        display: block;
    }
    .navDefault {
        display: none;
    }
}
